<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Halyava.Properties.Settings.BazaConnectionString"
            connectionString="Data Source=КОСТЯ-ПК\SQLEXPRESS;Initial Catalog=Baza;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Halyava.Properties.Settings.BazaConnection" connectionString="Data Source=GLOZER\SQLEXPRESS;Initial Catalog=Baza;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Halyava.Properties.Settings.Baza" connectionString="Data Source=KAPRIMA\SQLSERVER;Initial Catalog=Baza;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>